.Graph-container {
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 5px;
  margin: 5% 5px 5% 5px;
  width: 100%;
}

.Graph-header {
  display: flex;
  min-height: 10vh;
  padding: 5px;
}

.Graph-title-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: calc(90% - 10px);
}

.Graph-title-left {
  display: flex;
  justify-content: flex-end;
  width: 10%;
}

.Graph-name {
  color: #929698;
  display: grid;
  font-family: Roboto; //medium
  font-size: 3vh;
  margin: 5px 0 5px 0;
}

.Graph-description {
  color: #929698;
  display: grid;
  font-family: Roboto; //medium
  font-size: 2.5vh;
  margin: 5px 0 5px 0;
}

.Graph-source {
  color: #929698;
  display: grid;
  font-family: Roboto; //light
  font-size: 2vh;
  margin: 5px 0 5px 0;
  text-align: right;
  width: 100%;
}

.Graph-categories-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.Graph-categories {
  align-items: center;
  color: #929698;
  display: flex;
  font-family: Roboto; //light
  font-size: 1.7vh;
  margin: 5px 0 5px 0;
}

.Graph-color {
  height: 1.7vh;
  margin: 0 5px 0 5px;
  width: 1.7vh;
}

.Graph-body {
  display: flex;
  width: 100%;
}
