.outerMenu {
  z-index: 1000;
}

.mainButton {
  background-color: "#00A5FD";
}

.icons {
  color: white;
}

.menuLabels {
  color: #00A5FD;
  font-size: 2vh;
  position: absolute;
  padding-left: 20px;
}
