.box {
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  margin: 2.5% 5px 2.5% 5px;
  padding: 5px;

  &--image {
    max-width: 100%;
  }

  .box-title svg {
    margin-left: 10px;
  }

  &.SmallBox,
  &.LongBox {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    .box-source {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }

  &.SmallBox {
    align-items: center;
    flex: 1;
    flex-direction: column;
    height: 30vh;
    justify-content: center;
    max-height: 400px;
    max-width: 45%;
    min-width: 40%;

    .box-title {
      align-items: flex-end;
      color: #706e6e;
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      font-family: roboto;
      font-weight: 500; //medium
      font-size: 2.5vh;
      justify-content: center;
      padding: 10px;
      text-align: center;
      width: calc(100% - 20px);
    }

    .box-value {
      align-items: center;
      color: #009dfd;
      display: flex;
      flex: 1.5;
      font-family: roboto;
      font-weight: bold;
      font-size: 5vh;
      justify-content: center;
      max-height: 30%;
      text-align: center;
      width: 100%;
    }

    .box-description {
      align-items: flex-start;
      color: #929698;
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      font-family: roboto;
      font-weight: 400; // light
      font-size: 2vh;
      max-height: 30%;
      padding: 10px;
      text-align: center;
    }

    .box-source {
      margin: 3px 5px 3px 0;
      min-height: 1.5vh;
    }

    &.SmallBoxContrast {
      background-color: #00a5fd;

      .box-title {
        align-items: flex-start;
        color: #fff;
        flex: 2;
        max-height: initial;
      }

      .box-value {
        align-items: flex-end;
        color: #fff;
        flex: 3;
        max-height: initial;
      }

      .box-source {
        color: #fff;
        cursor: pointer;
        margin: -8px 5px 3px 0;
        text-decoration: underline;
      }
    }
  }

  &.LongBox {
    padding: 5px 0 5px 0;
    width: 100%;

    .modal-indicator {
      text-align: left;
    }

    .box-icon {
      align-items: center;
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      max-height: 100%;
      justify-content: center;
    }

    .box-img {
      width: 10vw;
    }

    .box-title {
      align-items: center;
      color: #009dfd;
      display: flex;
      flex: 4.5;
      font-family: roboto;
      font-weight: 500; //medium
      font-size: 2.5vh;
      padding-right: 10px;
    }

    .box-link {
      display: flex;
      text-decoration: none;
    }

    .box-value {
      align-items: center;
      color: #009dfd;
      display: flex;
      flex-wrap: wrap;
      flex: 4.5;
      font-family: roboto;
      font-weight: bold;
      font-size: 3vh;
      max-height: 100%;
      padding-left: 10px;
      justify-content: flex-end;
    }

    .box-arrow {
      align-items: center;
      display: flex;
      flex: 1;
      height: 100%;
      justify-content: center;
    }

    .box-source {
      cursor: pointer;
      margin: 4px 5px 3px 0;
      text-decoration: underline;
    }
  }
}

.Box {
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  display: flex;
}

.HeaderBox {
  flex-direction: column;
  padding: 10px;
  width: 90%;

  &--dataContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0;
  }

  &--title {
    color: #706e6e;
    font-family: Roboto;
    font-size: 2.3vh;
  }

  &--value {
    color: #00a5fd;
    font-family: Roboto;
    font-size: 3vh;
    font-weight: 500; // bold
  }
}
