.box {
  background: #FFF;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
  margin: 2.5% 5px 2.5% 5px;
  padding: 5px;

  &--image {
    max-width: 100%;
  }

  &.SmallBox, &.LongBox {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    .box-source {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }

  &.SmallBox {
    align-items: center;
    flex: 1;
    flex-direction: column;
    height: 30vh;
    justify-content: center;
    max-height: 400px;
    max-width: 45%;
    min-width: 40%;

    .box-title {
      align-items: flex-end;
      color: #706E6E;
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      font-family: roboto;
      font-weight: 500; //medium
      font-size: 2.5vh;
      justify-content: center;
      padding: 10px;
      text-align: center;
      width: calc(100% - 20px);
    }

    .box-value {
      align-items: center;
      color: #009DFD;
      display: flex;
      flex: 1.5;
      font-family: roboto;
      font-weight: bold;
      font-size: 5vh;
      justify-content: center;
      max-height: 30%;
      text-align: center;
      width: 100%;
    }

    .box-description {
      align-items: flex-start;
      color: #929698;
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      font-family: roboto;
      font-weight: 400; // light
      font-size: 2vh;
      max-height: 30%;
      padding: 10px;
      text-align: center;
    }

    .box-source {
      margin: 3px 5px 3px 0;
      min-height: 1.5vh;
    }

    &.SmallBoxContrast {
      background-color: #00A5FD;

      .box-title {
        align-items: flex-start;
        color: #FFF;
        flex: 2;
        max-height: initial;
      }

      .box-value {
        align-items: flex-end;
        color: #FFF;
        flex: 3;
        max-height: initial;
      }

      .box-source {
        color: #FFF;
        cursor: pointer;
        margin: -8px 5px 3px 0;
        text-decoration: underline;
      }
    }
  }

  &.LongBox {
    padding: 5px 0 5px 0;
    width: 100%;

    .box-icon {
      align-items: center;
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      max-height: 100%;
      justify-content: center;
    }

    .box-img {
      width: 10vw;
    }

    .box-title {
      align-items: center;
      color: #009DFD;
      display: flex;
      flex: 4.5;
      font-family: roboto;
      font-weight: 500; //medium
      font-size: 2.5vh;
      padding-right: 10px;
    }

    .box-link {
      display: flex;
      text-decoration: none;
    }

    .box-value {
      align-items: center;
      color: #009DFD;
      display: flex;
      flex-wrap: wrap;
      flex: 4.5;
      font-family: roboto;
      font-weight: bold;
      font-size: 3vh;
      max-height: 100%;
      padding-left: 10px;
      justify-content: flex-end;
    }

    .box-arrow {
      align-items: center;
      display: flex;
      flex: 1;
      height: 100%;
      justify-content: center;
    }

    .box-source {
      cursor: pointer;
      margin: -8px 5px 3px 0;
      text-decoration: underline;
    }
  }
}
