.list-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5% 5px 5% 5px;
  max-width: 800px;
  padding: 0;
  width: 100%;

  &--header {
    align-items: center;
    background-color: #00a5fd;
    display: flex;
    height: 6vh;
    justify-content: space-around;
    width: 100%;
  }

  &--title {
    align-items: center;
    color: #fff;
    display: flex;
    flex: 8.5;
    font-family: Roboto;
    font-size: 3vh;
    font-weight: normal;
    height: 100%;
    padding-left: 5px;
    text-transform: uppercase;
  }

  &--icon {
    align-items: center;
    display: flex;
    flex: 1.3;
    height: 100%;
    justify-content: center;
  }

  &--source {
    align-items: center;
    color: #929698;
    display: flex;
    font-family: Roboto;
    font-weight: 400; //light
    font-size: 1.5vh;
    justify-content: flex-end;
    margin: 3px 5px 3px 0;
    text-align: right;
  }

  &--list {
    counter-reset: order;
    list-style: none;
    padding: 0 2.5%;

    &-item {
      align-items: center;
      border-bottom: 1px solid #f8f8f8;
      color: #929698;
      display: flex;
      font-family: Roboto;
      font-weight: bold;
      justify-content: space-between;
      margin-bottom: 10px;
      padding-bottom: 10px;

      &-label {
        font-size: 2vh;
        text-transform: uppercase;
      }

      &-value {
        font-size: 2.5vh;
      }

      &:last-child {
        border: 0;
      }

      &__ordered::before {
        border: 1px solid;
        border-radius: 50%;
        color: #e8e8e8;
        content: counter(order);
        counter-increment: order;
        display: inline-block;
        height: 20px;
        margin-right: 15px;
        padding: 4px 3px 0;
        text-align: center;
        width: 20px;
      }
    }
  }
}
