.Ouvidoria {
  &--container {
    border: 1px solid #E8E8E8;
    display: flex;
    flex-wrap: wrap;
    margin: 2.5% 10px 80px;
    padding: 3%;
    width: 100%;
  }

  &--image {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    max-width: 150px;
    overflow: hidden;
    width: 25%;
  }

  &--content {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    max-width: calc(75% - 10px);
    padding: 5px;
  }

  &--title {
    color: #706E6E;
    display: flex;
    flex: 1;
    font-size: 14px;
    margin: 5px 0px;
    text-align: center;
  }

  &--button {
    width: 100%;
    background: #02a4fd;
    // margin: 0 5px;
    padding: 8px 5px;
    text-align: center;
    border-radius: 10px;
    font-size: .8em;

    a {
      color: white;
      font-size: 14px;
      text-decoration: none;
    }
  }
}
