.Filter-container {
  align-self: flex-end;
  align-items: center;
  background-color: white;
  bottom: 0;
  height: 11vh;
  display: flex;
  justify-content: space-between;
  left: 0;
  position: absolute;
  width: 100vw;
}

.Filter-button {
  align-items: center;
  color: #a4a4a4;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 12px;
  height: 50%;
  justify-content: space-between;
}
