.Home-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  z-index: 0;
}

.Map-view {
  height: 85vh;
  display: block;
  width: 100%;
}

.Home-footer {
  background-color: pink;
  height: 15vh;
  width: 100%;
}
