.Search-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  min-height: 100px;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 500;
}

.Search-view {
  align-items: center;
  display: flex;
  height: 80vh;
  justify-content: space-between;
  max-height: 40px;
  width: 93%;
}

.Search-button {
  align-items: center;
  background-color: white;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  height: 100%;
  max-width: 45px;
  width: 10%;
}

.Search-button {
  color: #C1C1C1;
}

.Search-input {
  border: none;
  border-radius: 7px;
  display: flex;
  flex: 1;
  height: 100%;
  margin: 0 10px 0 10px;
}

.Search-body {
    background-color: white;
    display: flex;
    left: 0;
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
}
